# Example .env file. Please change them in production.

# Recommendations:
# -------------------
# - Create a new SECRET_KEY with:
#      python -c 'import random; import string; print("".join([random.SystemRandom().choice("{}{}{}".format(string.ascii_letters, string.digits, string.punctuation)) for i in range(50)]))'
# - Change DB_PASS

# Tips:
# ------
# - No need to use double/single quotes
# - Ignore .env in your Git repo by mentioning your .gitignore


SECRET_KEY=very-long-password
DB_NAME=postgres_db
DB_USER=postgres_role
DB_PASS=postgres_password
DB_SERVICE=postgres
DB_PORT=5432
